.react-date-field {
  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  position: relative;
  overflow: visible;
  vertical-align: middle;

  & > .react-date-field__picker {
    min-width: 100%;
    position: absolute;
    z-index: 100;
    left: -1px;
    background: white;
  }
}
.react-date-field--picker-position-bottom > .react-date-field__picker {
  top: 100%;
}

.react-date-field--expanded, .react-date-field--focused {
  .fa {
    &:before {
          color: #0096cc;
    }
  }
  .react-date-field__input {
    border-color: #0096cc;
  }
}

.react-date-field--picker-position-top > .react-date-field__picker {
  bottom: 100%;
}

.react-date-field__input {
  width: 120px;
  display: block;
  padding: 5px 12px;
  padding-right: 12px;
  padding-left: 30px;
  font-size: 13px;
  color: #222222;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.react-date-field__calendar-icon {
}

$hoverColor: darken(gray, 20%);

.react-date-field__clear-icon {
  color: gray;
  fill: gray;
  margin: 0px 2px;
  cursor: pointer;

  svg {
    vertical-align: middle;
  }
}

// .react-date-field__clear-icon:hover {
//   color: $hoverColor;
//   fill: $hoverColor;
// }

// .react-date-field__calendar-icon:hover {
  // border-color: $hoverColor;

  // &:after,
  // &:before,
  // .react-date-field__calendar-icon-inner {
  //   background: $hoverColor;
  // }
// }




.react-date-field__calendar-icon-inner {
  position: absolute;
  border-radius: 1px;
  top: 2px;
  left: 2px;
  width: 4px;
  height: 4px;
}
