.react-date-field--theme-#{$THEME_NAME} {
  width: 120px;

  &.react-date-field--focused {
    border-color: #0096cc;
    transition: all 0.2s linear 0s;
    outline: none;
  }

  & > .react-date-field__picker {
  }

  .react-date-field__calendar-icon {
    position: absolute;
    left: 9px;
    top: 50%;
    margin-top: -10px;
    color: #666666;
  }

  .react-date-field__clear-icon {
    color: $CLEAR_ICON_COLOR;
    fill: $CLEAR_ICON_COLOR;
  }

  .react-date-field__clear-icon:hover {
    color: $CLEAR_ICON_COLOR_HOVER;
    fill: $CLEAR_ICON_COLOR_HOVER;
  }

  &.react-date-field--focused .react-date-field__clear-icon {
    color: $CLEAR_ICON_COLOR_ACTIVE;
    fill: $CLEAR_ICON_COLOR_ACTIVE;
  }

  &:not(.react-date-field--disabled) {
    .react-date-field__calendar-icon:hover {
      border-color: $CALENDAR_ICON_COLOR_HOVER;
      cursor: pointer;

      // &:after,
      // &:before,
      // .react-date-field__calendar-icon-inner {
      //   background: #0096cc;
      // }
    }
  }


  &.react-date-field--focused .react-date-field__calendar-icon,
  &.react-date-field--focused .react-date-field__calendar-icon:hover,
  &.react-date-field--focused .react-date-field__calendar-icon:active,
  &:not(.react-date-field--disabled) .react-date-field__calendar-icon:active {
    border-color: #0096cc;
  }
}
