.react-date-picker__footer--theme-#{$THEME_NAME} {
  padding: 5px;
  padding-top: 21px;
  padding-left: 8px;

  .react-date-picker__footer-button {
      width: 79px;
      height: 30px;
      display: inline-block;
      margin: 8px;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      border: 1px solid transparent;
      white-space: nowrap;
      font-size: 13px;
      line-height: 20px;
      border-radius: 3px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #222222;
      background-color: #fbfbfb;
      background-image: -webkit-linear-gradient(top, #fbfbfb 0%, #ececec 100%);
      background-image: -o-linear-gradient(top, #fbfbfb 0%, #ececec 100%);
      background-image: linear-gradient(to bottom, #fbfbfb 0%, #ececec 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbfbfb', endColorstr='#ffececec', GradientType=0);
      border-color: #cccccc;

      &:hover, :focus {
          text-decoration: none;
          color: #222222;
          background-color: #ffffff;
          background-image: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
          background-repeat: repeat-x;
          border-color: #999999;
      }
  }

  .react-date-picker__footer-button + .react-date-picker__footer-button {
    margin-left: 3px;
  }
}
